.text-option{
    width: 100%; 
    color: rgba(0, 0, 0, 0.35);
    border-bottom: 1px solid #ced4da; 
    line-height: 0.1em;
    text-align: center;
}

.text-option span {
    color: #757575;
    font-size: 14px;
    background:#fff; 
    padding: 0 30px;
}

.layout-logo {
    margin: 0 40px;
}

.layout-login {
    margin: 0 40px;
    margin-top: 50px;       
}

.link-register {
    margin-top: 70px;
}

.layout-register {
    margin: 0 40px;
    margin-top: 30px;       
}

.form-control::-webkit-input-placeholder{
	color: #9E9E9E;
}

@media (min-width: 992px) {
    .layout-logo {
        margin: 0 100px;
    }

    .layout-login {
        margin: 0 100px;
        margin-top: 80px;
    }

    .link-register {
        margin-top: 140px;
    }

    .layout-register {
        margin: 0 100px;
        margin-top: 30px;       
    }   
}

.nav-hover:hover {
    color: #006973;
}

.nav-hover.active {
    color: #006973 !important;
    font-weight: bold;
    border-bottom: 2px solid #006973;
}

.status-orange {
    padding: 6px 12px;
    background: rgba(228, 82, 0, 0.08);
    border-radius: 12px;
    font-weight: 600;
    font-size: 13px;
    color: #E45200;
}

.status-blue {
    padding: 6px 12px;
    background: rgba(29, 117, 218, 0.08);
    border-radius: 12px;
    font-weight: 600;
    font-size: 13px;
    color: #1D75DA;
}

.status-green {
    padding: 6px 12px;
    background: rgba(30, 137, 30, 0.08);
    border-radius: 12px;
    font-weight: 600;
    font-size: 13px;
    color: #1E891E;
}

.status-red {
    padding: 6px 12px;
    background: rgba(225, 44, 65, 0.08);
    border-radius: 12px;
    font-weight: 600;
    font-size: 13px;
    color: #E12C41;
}

.nav-item-form-pinjaman {
    border-bottom: 2px solid #F3F3F3;
}

.nav-link-form-pinjaman {
    color: #757575;
}

.nav-link-form-pinjaman.active {
    color: #1D75DA;
    border-bottom: 2px solid #1D75DA;
}

.completed {
    color: #1E891E;
}

.footer {
    background-color: #2F383B;
    padding: 120px 0;
}

.line {
    border-bottom: 3px solid #ffffff;
    width: 60px;
}

.sidebar-menu:hover {
    background-color: #ECF3F3;
    color: #1899A3;
}

.sidebar-menu.active {
    background-color: #1899A3;
    color: #ffffff;
}